<div class="xl:px-52 md:px-16 px-8 mb-12">
    <div class="max-w-screen-sm mt-8 md:px-12 lg:px-16  mx-auto">
        <div class="flex flex-col justify-between mb-4">
            <div>
                <h2 class="text-4xl lg:text-5xl font-bold leading-tight">Lets talk! 🤝 </h2>
                <div class="mt-4">
                    Do you hate forms as much as I do? Send me an <span class="underline">email</span> instead.
                </div>
            </div>
        </div>
        <div class="">
            <div>
                <span class="uppercase text-sm font-bold">Full Name</span>
                <input
                    class="w-full bg-stone-200 text-stone-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
                    type="text" placeholder="">
            </div>
            <div class="mt-8">
                <span class="uppercase text-sm font-bold">Email</span>
                <input
                    class="w-full bg-stone-200 text-stone-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
                    type="text">
            </div>
            <div class="mt-8">
                <span class="uppercase text-sm font-bold">Message</span>
                <textarea
                    class="w-full h-32 bg-stone-200 text-stone-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"></textarea>
            </div>
            <div class="mt-8">
                <div class="tracking-wide w-full inline-block mt-1.5 rounded-lg bg-green-800 text-white"> 
                <button
                    class="tracking-wide w-full bg-green-600 text-center rounded-lg px-3 py-1 -translate-y-1 hover:-translate-y-1.5 items-center">
                    Send Message
                </button>
                </div>
            </div>
        </div>
    </div>
</div>